# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.test
.env.local
dist/
build/

# --- Flutter / Dart ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.pwp
*.pyc

# Android-specific
.gradle/
local.properties
*.keystore
*.jks

# iOS-specific
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# --- General IDEs ---
.idea/
.vscode/
*.iml
.DS_Store
